.root {
  -fx-background-color: #1c1c1c;
}

.button {
  -fx-background-color: #FFA500;
  -fx-text-fill: black;
}

.slider .track {
  -fx-background-color: #d8d8d8;
}

.slider .thumb {
  -fx-background-color: #FFA500;
}

.label {
  -fx-text-fill: white;
}

#volume-slider {
  -fx-pref-height: 15px;
  -fx-pref-width: 100px;
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-style: none;
  -fx-effect: null;
  -fx-translate-x: -50%;
  -fx-translate-y: -50%;
  left: 50%;
  top: 50%;
}

#progress-slider {
  -fx-pref-height: 10px;
  -fx-pref-width: 200px;
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-style: none;
  -fx-effect: null;
  -fx-translate-x: -50%;
  -fx-translate-y: -50%;
  left: 50%;
  top: 50%;
}

#time-display {
  -fx-text-fill: white;
  -fx-padding: 5px;
  -fx-font-size: 14px;
  -fx-translate-x: 50%;
  -fx-translate-y: -50%;
  right: 50px;
  top: 50%;
}

#loop-button {
  -fx-background-color: #FFA500;
  -fx-text-fill: black;
  -fx-padding: 5px;
  -fx-font-size: 14px;
  -fx-translate-x: 50%;
  -fx-translate-y: -50%;
  right: 20px;
  top: 10px;
}